{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('renewPassword') }}
{% endblock %}

{% block content %}
    <div id="renewPasswordContainer">
        <h2>Remplissez les champs suivants pour changer votre mot de passe</h2>

        {{ form_start(form) }}
        {{ form_row(form) }}

        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('renewPassword') }}
{% endblock %}