{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block content %}
    <div id="addPictureFormContainer" class="invisible">
        {{ form_start(avatarForm) }}
            <a id="closeForm"><i class="fas fa-window-close"></i></a>
        {{ form_end(avatarForm) }}
    </div>

    <div id="avatarContainer">
        {% if app.user.picture %}
            <figure>
                <img alt="avatarPicture" src="{{ asset('avatars/' ~ app.user.picture.name ) }}" />
            </figure>
        {% else %}
            <p id="defaultMessage">
                Click to add a picture
            </p>
        {% endif %}
    </div>


    <section id="restContent">
        <div class="container">
            <h3 id="infoTitle" class="mb-3 mt-3">Vos informations personnelles :</h3>
            <div class="dash">
                <div class="row text-center">
                    <div class="col-6 flex-column">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title text-primary">Nom</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{app.user.lastName }}</h6>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title text-primary">Prénom</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{app.user.firstName }}</h6>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title text-primary">Email</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{app.user.email}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title text-primary">Carte de fidelité créée le :</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{app.user.createdAt|date('d/m/Y')}}</h6>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title text-primary">Numéro de carte</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{app.user.card.number}}</h6>
                            </div>
                        </div>
                        {% set nbVoucher = app.user.card.vouchers|length %}
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title text-primary">Voucher</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ nbVoucher }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="text-center mt-3 mb-3">Historique des cadeaux :</h3>
            {% if app.user.card.giftCards|length > 0 %}
            <table class="table alert alert-light mb-4">
                <thead>
                    <tr>
                        <th scope="col"><span class="text-primary">#</span></th>
                        <th scope="col"><span class="text-primary">Cadeau</span></th>
                        <th scope="col"><span class="text-primary">Serial</span></th>
                        <th scope="col"><span class="text-primary">Utilisé</span></th>
                        <th scope="col"><span class="text-primary">Date d'expiration</span></th>
                    </tr>
                </thead>
                <tbody>
                {% for gift in app.user.card.giftCards %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ gift.gifts.title }}</td>
                        <td>{{ gift.serial }}</td>
                        <td>{{ gift.used ? "OUI" : "NON"}}</td>
                        <td>{{ gift.expiredAt|date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
            {% else %}
            <p class="voucherInfo">
                Vous n'avez pas de cadeaux pour le moment.
            </p>
            {% endif %}
        </div>


    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
