{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="form">
            {{ form_start( form ) }}

            <div class="form-group">
                {{ form_label(form.FirstName) }}
                {{ form_widget(form.FirstName) }}
                <div class="errors">
                    {{ form_errors(form.FirstName) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.LastName) }}
                {{ form_widget(form.LastName) }}
                <div class="errors">
                    {{ form_errors(form.LastName) }}
                </div>

            </div>

            
            <div class="form-group">
                {{ form_label(form.Birthdate) }}
                <div class="row">
                    <div class="col">{{ form_widget(form.Birthdate.day) }}</div>
                    <div class="col">{{ form_widget(form.Birthdate.month) }}</div>
                    <div class="col">{{ form_widget(form.Birthdate.year) }}</div>
                </div>
                <div class="errors">
                    {{ form_errors(form.Birthdate) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.Email) }}
                {{ form_widget(form.Email) }}
                <div class="errors">
                    {{ form_errors(form.Email) }}
                
                </div>  
            </div>

            <div class="form-group">
                {{ form_label(form.Password) }}
                {{ form_widget(form.Password) }}
                <div class="errors">
                    {{ form_errors(form.Password) }}
                </div>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Inscription</button>
            {{ form_end( form ) }} 
        </div> 
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('register') }}
{% endblock %}
